div.Post {
    position:relative;
    display: inline-block;
    max-width:100%;
    height:auto;
    border: 1px solid darkgray;
    font-weight: bold;
    line-height: 16px;
    border-radius: 7px;
    margin: auto;
    display: block;
    overflow:hidden;
    text-decoration: none;
    transition: box-shadow .3s;
}

div.clickable:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.delete{
    float:right;
}

.modify{
    float:right;
}

hr {
    color:darkgray;
}

div.User {
    position:relative;
    background-color: white;
    padding-top: 0px;
    width:100%;
    height: auto;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div.Body {
    position: relative;
    left:2.5%;
    height:auto;
    max-width: 100%;
}

p.Body {
    left:2.5%;
    max-width: 95%;
    resize:none;
    height:auto;
    word-wrap:break-word;
}

div.Tags {
    position: relative;
    float:left;
    font-size:5;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    width:auto;
    height:auto;
    margin:1px;
    background:lightgrey;
    display:block;
    border:1px solid lightgrey;
    transition: box-shadow .3s;
}

div.Tags:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}